@import '../../styles/variables.less';

.login-screen {
    .btn-login {
        width: 300px;
        height: 60px;
        margin-bottom: 20px;

        color: @color-light;
        border: 1px solid @color-medium;
        border-radius: 4px;
        background-color: @color-primary;

        &:hover {
            background-color: @color-active;
        }
    }
}
