@import '../../../styles/variables.less';

.table {
    display: flex;
    flex: 1;
    flex-direction: column;

    height: 100%;

    .header-list, .table-list {
        width: 100%;
        margin: 0;
        padding: 0;

        list-style: none;
    }

    .header-list {
        .header-item {
            flex: 1;

            height: 50px;

            border-right: 1px solid lightblue;
            background-color: darken(@color-active, 5);

            font-size: 16px;
        }
    }

    .table-list {
        .table-item {
            cursor: pointer;

            .field {
                flex: 1;

                border-right: 1px solid lightblue;
            }
        }
    }

    .header-item, .field {
        min-height: 40px;
        padding-left: 13px;

        border-bottom: 1px solid lightblue;
    }

    .wrapper {
        overflow-y: auto;
        flex: 1;
    }
}
